*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #141414;
  font-family: 'Lato', sans-serif;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 40px;
}

header img{
  height: 10vh;
}

header .search{
  float: right;
  clear: left;
  line-height: 10vh;
}

main{
  margin-top: 15vh;
  padding: 30px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-poster{
  margin: 10px;
  height: 330px;
  width: 220px;
  background-image: url('../img/howimetyourmother.jpg');
  background-size: cover;
  border-radius: 5px;
}

.informations{
  height: 330px;
  width: 220px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity .5s;
}

.informations:hover{
  opacity: 1;
}

.informations:hover{
  cursor: pointer;
}

.movie-poster .spacing{
  margin: 5px 0;
}
