*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #141414;
  font-family: 'Lato', sans-serif;
}

header{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 40px;
}

header img{
  height: 10vh;
}

header .search{
  float: right;
  clear: left;
  line-height: 10vh;
}

header button,header input{
  padding: 5px 10px;
  border: 2px solid black;
}

header button:hover{
  cursor: pointer;
  border: 2px solid #E40914;
  outline: none;
}

.selection{
  text-align: center;
  margin-top: 12vh;
}
.selection select {
  width: 122px;
  padding: 5px 10px;
  border-radius: 5px;
}

main{
  margin-top: 30px;
  padding: 0 80px;
}

.title{
  text-align: center;
  color: white;
  margin: 40px 0 30px;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 40px; */
}

.movie-poster{
  margin: 10px;
  height: 330px;
  width: 220px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.informations{
  height: 100%;
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  opacity: 0;
  transition: opacity .5s;
  overflow-y: auto;
}

.informations:hover{
  opacity: 1;
}

.informations:hover{
  cursor: pointer;
}

.language img{
  width: 20%;
  vertical-align: middle;
}

.vote i{
  color: yellow;
}

/* MODIFICA SCROLLBAR */
::-webkit-scrollbar{
  width: 8px;
  height:0.8em;
  background: black;
}
::-webkit-scrollbar:hover{
  background-color: black;
  border: none;
}
::-webkit-resizer{
  -webkit-border-radius:4px;
  background-color: #ccc;
  border: none;
}
::-webkit-scrollbar-thumb{
  min-height:0.8em;
  min-width:0.8em;
  -webkit-border-radius:4px;
  background-color: #E40914;
  border: none;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #dc341c;
  border: none;
}
::-webkit-scrollbar-thumb:active{
  background-color:#990754;
  cursor: pointer;
  border: none;
}
/* FINE MODIFICA SCROLLBAR */


.spacing{
  margin: 5px 0;
}
