<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>

    <div id="container">
      <header>
        <img src="img/netflix.png" alt="">
        <div class="search">
          <input v-model="searchedString" type="text" name="" value="">
          <button @click="searchFilm()" type="button" name="button">SEARCH</button>
        </div>
      </header>

      <main>
        <div v-for="film in films" class="movie-poster" :style="(film.poster_path == null) ? {backgroundImage: 'url(' + notAvailableImage + ')'} : {backgroundImage: 'url(' + initialPath + film.poster_path + ')'}">
          <div class="informations">
            <div class="title spacing">
              <strong>Titolo: </strong>
              {{ film.title }}
            </div>
            <div class="original-title spacing">
              <strong>Titolo originale: </strong>
              {{ film.original_title }}
            </div>
            <div class="vote spacing">
              <strong>Voto: </strong>
            </div>
            <div class="overview spacing">
              <strong>Overview: </strong>
              {{ film.overview }}
            </div>
          </div>
        </div>
      </main>
    </div>


    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
