<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="container">
      <header>
        <img src="img/netflix.png" alt="">

          <div class="search">
          <input v-model="searchedString" @keydown="searchFilmEnterKey()" type="text" name="" value="">
          <button @click="searchFilm()" type="button" name="button"><strong>SEARCH</strong></button>
        </div>

        <div v-if="show" class="selection">
          <select v-model="selected" class="" name="">
            <option value="ALL">ALL</option>
            <option v-for="element in totalGenres" :value="element">{{element}}</option>
          </select>
          <p>{{selected}}</p>
        </div>
      </header>
      <main>

      <h1 class="popular-film" v-if="hide == false && films.length > 3 && selected == 'ALL'">
        TOP 3 films / SERIES FOR "{{resultFor.toUpperCase()}}"
      </h1>

      <h1 class="popular-film" v-else-if="hide == false && films.length <= 3 && selected == 'ALL'">
        RESULTS FOR "{{resultFor.toUpperCase()}}"
      </h1>

      <h1 class="popular-film" v-if="hide == false && films.length == 0 && selected == 'ALL'">
        No results
      </h1>

      <h1 class="popular-film" v-if="selected != 'ALL'">RESULTS FOR "{{resultFor.toUpperCase()}}" GENRE: "{{selected}}"</h1>

      <div class="popular">
        <div v-for="(film, index) in popularSearch" v-if="visible && (selected == 'ALL' || films[index].genres.includes(selected))" class="movie-poster" :style="(film.poster_path == null) ? {backgroundImage: 'url(' + notAvailableImage + ')'} : {backgroundImage: 'url(' + initialPath + film.poster_path + ')'}">
          <div class="informations">

            <div class="title spacing">
              <strong>Titolo: </strong>
              {{ film.title }} {{ film.name }}
            </div>

            <div class="original-title spacing">
              <strong>Titolo originale: </strong>
              {{ film.original_title }} {{ film.original_name }}
            </div>

            <div class="language">
              <strong>Lingua originale: </strong>
              <img v-if="film.original_language == 'en'" src="img/america.png" alt="">
              <img v-else-if="film.original_language == 'it'" src="img/italia2.jpg" alt="">
              <img v-else-if="film.original_language == 'de'" src="img/germania.jpg" alt="">
              <span v-else="">
                {{ film.original_language.toUpperCase() }}
              </span>
              <span v-if="film.original_language == ''">
                N/A
              </span>
            </div>

            <div class="vote spacing">
              <strong>Voto: </strong>
              <i v-for="item in Math.floor(vote[index] / 2)" class="fas fa-star"></i>
              <i v-if="vote[index] % 2 == 1" class="fas fa-star-half-alt"></i>
              <i v-for="item in (Math.floor(5 - (vote[index]) / 2))" class="far fa-star"></i>
            </div>

            <div class="cast spacing">
              <strong>Cast: </strong>
              <span v-for="cast in films[index].cast">
                {{ cast }} <br>
              </span>
            </div>

            <div class="genres spacing">
              <strong>Generi: </strong>
              <span v-for="(genre, i) in films[index].genres">
                {{ genre }}<span v-if="i < films[index].genres.length - 1">, </span>
              </span>
            </div>

            <div class="overview spacing">
              <strong>Overview: </strong>
              {{ film.overview }}
            </div>
          </div>
        </div>
      </div>

      <h1 class="popular-film" v-if="hide == false && films.length > 3 && selected == 'ALL'">
        OTHER films / SERIES FOR "{{resultFor.toUpperCase()}}"
      </h1>

      <div class="popular">
        <div v-if="visible && (selected == 'ALL' || films[index + 3].genres.includes(selected))" v-for="(film, index) in restSearch" class="movie-poster" :style="(film.poster_path == null) ? {backgroundImage: 'url(' + notAvailableImage + ')'} : {backgroundImage: 'url(' + initialPath + film.poster_path + ')'}">
          <div class="informations">

            <div class="title spacing">
              <strong>Titolo: </strong>
              {{ film.title }} {{ film.name }}
            </div>

            <div class="original-title spacing">
              <strong>Titolo originale: </strong>
              {{ film.original_title }} {{ film.original_name }}
            </div>

            <div class="language">
              <strong>Lingua originale: </strong>
              <img v-if="film.original_language == 'en'" src="img/america.png" alt="">
              <img v-else-if="film.original_language == 'it'" src="img/italia2.jpg" alt="">
              <img v-else-if="film.original_language == 'de'" src="img/germania.jpg" alt="">
              <span v-else="">
                {{ film.original_language.toUpperCase() }}
              </span>
              <span v-if="film.original_language == ''">
                N/A
              </span>
            </div>

            <div class="vote spacing">
              <strong>Voto: </strong>
              <i v-for="item in Math.floor(voteOther[index] / 2)" class="fas fa-star"></i>
              <i v-if="voteOther[index] % 2 == 1" class="fas fa-star-half-alt"></i>
              <i v-for="item in (Math.floor(5 - (voteOther[index]) / 2))" class="far fa-star"></i>
            </div>

            <div class="cast spacing">
              <strong>Cast: </strong>
              <span v-for="cast in films[index + 3].cast">
                {{ cast }} <br>
              </span>
            </div>

            <div class="genres spacing">
              <strong>Generi: </strong>
              <span v-for="(genre, i) in films[index + 3].genres">
                {{ genre }}<span v-if="i < films[index + 3].genres.length - 1">, </span>
              </span>
            </div>

            <div class="overview spacing">
              <strong>Overview: </strong>
              {{ film.overview }}
            </div>
          </div>
        </div>
      </div>
      </main>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
